USE [master]
GO
/****** Object:  Database [BlazorCRUD]    Script Date: 24/08/2021 19:09:36 ******/
CREATE DATABASE [BlazorCRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlazorCRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BlazorCRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlazorCRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BlazorCRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlazorCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlazorCRUD]
GO
/****** Object:  Table [dbo].[Films]    Script Date: 24/08/2021 19:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Films](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Director] [nvarchar](150) NULL,
	[ReleaseDate] [datetime] NULL,
 CONSTRAINT [PK_Films] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Films] ON 

INSERT [dbo].[Films] ([Id], [Title], [Director], [ReleaseDate]) VALUES (8, N'El Padrino', N' Robert Duvall', CAST(N'1972-08-24T18:58:04.000' AS DateTime))
INSERT [dbo].[Films] ([Id], [Title], [Director], [ReleaseDate]) VALUES (9, N'El mago de Oz', N'Jack Haley', CAST(N'1939-02-03T19:01:08.000' AS DateTime))
INSERT [dbo].[Films] ([Id], [Title], [Director], [ReleaseDate]) VALUES (10, N' Ciudadano Kane', N'Charles Foster Kane', CAST(N'1941-01-12T19:01:42.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Films] OFF
GO
USE [master]
GO
